@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(60, 60, 60, 0.6);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(70, 70, 70, 0.7);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

@layer base {
  html {
    @apply bg-background text-typo;
  }
}

@layer components {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .line-clamp-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .line-clamp-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@layer utilities {
  .text-hero-gradient {
    @apply bg-gradient-to-tr from-heroGradient-100 via-heroGradient-300 to-heroGradient-400 bg-clip-text text-transparent;
  }

  .menu-link {
    @apply relative cursor-pointer opacity-50 transition-all after:absolute after:bottom-0 after:left-0 after:h-[1.25px] after:w-0 after:bg-typo after:transition-all hover:opacity-100 hover:after:w-full;
  }

  .overlay {
    @apply fixed z-10 h-screen w-screen bg-black/50;
  }

  .modal {
    @apply fixed z-20 h-screen w-screen;
  }
}
